<% if flash[:notice] %>
  <h4><%= flash[:notice] %></h4>
<% end %>

<h1 class="recipe">
Selected Recipes:
</h1>

<p>Subtotal: 
<% counter = 0 %>
<% @items.each do |item| %>
<% counter += item.total_price %>
<% end %>
<%= counter %>
</p>
<ol>
  <% @items.each do |item| %>
    <li><%= item.name %></li>
     $ <%= item.total_price %>
     <%= button_to "Delete From Cart", "/cart", {method: :delete, params: {recipe_id: item.id} } %>
  <% end %>
</ol>


<hr>

<ol>
<% @recipes.map do |recipe| %>

  <p class="cart"><%= link_to recipe.name, recipe_path(recipe) %></p>
  <p class="cart">$<%= recipe.total_price %></p>
  <p class="cart"><%= button_to "Add To Budget", "/cart", {method: :patch, params: {recipe_id: recipe.id, search: recipe.total_price} }%></p>
<% end %>
</ol>
