<% if flash[:notice] %>
  <h4 class="flash"><%=flash[:notice]%></h4>
<%end%>


<div>
  <%= form_for @recipe do |f| %>
    <%= f.label "Name" %>
    <p><%= f.text_field :name %></p>
    <br>
    <%= f.label "Description" %>
    <p><%= f.text_area :description %></p>

    <%= f.label "Category" %>
    <p><%= f.select :category, Category: ["breakfast", "snack", "dinner"], select: "Select" %></p>
    <br>
    <%= f.collection_select :food_ids, Food.all, :id, :name, {include_blank: 'Select an Ingredient'}, {:multiple => true}%>
    <%= f.label "Quantity" %>
    <%= number_field_tag "amount_1"%>
    <br>
    <%= f.collection_select :food_ids, Food.all, :id, :name, {include_blank: 'Select an Ingredient'}, {:multiple => true}%>
    <%= f.label "Quantity" %>
    <%= number_field_tag "amount_2"%>
    <br>
    <%= f.collection_select :food_ids, Food.all, :id, :name, {include_blank: 'Select an Ingredient'}, {:multiple => true}%>
    <%= f.label "Quantity" %>
    <%= number_field_tag "amount_3"%>
    <br>
    <%= f.collection_select :food_ids, Food.all, :id, :name, {include_blank: 'Select an Ingredient'}, {:multiple => true}%>
    Quanity
    <%= number_field_tag "amount_4"%>
    <br>
    <%= f.collection_select :food_ids, Food.all, :id, :name, {include_blank: 'Select an Ingredient'}, {:multiple => true}%>
    Quanity
    <%= number_field_tag "amount_5"%>

  <br>
  <br>
  <br>


  <%= submit_tag "Submit"%>
<%end%>