
<center>
<% if flash[:notice] %>
  <h3><%=flash[:notice]%></h3>
<%end%>


<div>
<!--

  -->


<%= form_for @recipe do |f| %>
        <%= f.label "Name" %>
        <%= f.text_field :name %>
        <p><%= f.label "Description" %>
        <%= f.text_area :description %>
       <%= f.collection_check_boxes :food_ids, Food.all, :id, :name %>
       <p>
          <%= f.submit %>
<% end %>

<p>




</div>

<style>
input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}
</style>


</center>
