<% if flash[:notice] %>
  <h3><%=flash[:notice]%></h3>
<%end%>


<%=form_for @recipe do |f|%>
<%=f.text_field :name%>





<%=f.number_field :price%>
<%=f.number_field :protein%>
<%=f.number_field :calories%>
GLUTEN FREE????
<%=f.check_box :gluten%>
<%=f.submit "create food"%>
<%end%>


<%=form_for @recipe, url: "/recipe_foods/create" do |f|%>
Recipe name

<%=f.collection_select :food_id, @foods, :id, :name %>
food 2
<%=f.collection_select :food_id, @foods, :id, :name %>
food 3
 <%=f.collection_select :food_id, @foods, :id, :name %>
 <%=submit_tag "new recipe"%>
<%end%>
