
<center>
<% if flash[:notice] %>
  <h3><%=flash[:notice]%></h3>
<%end%>


<div>
<!--

  -->



<p>
  <%= form_for @recipe do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.select :catagory, collection: ["breakfast", "lunch"], prompt: "Select the catagory "  %>
    <p><%= f.label "Description" %>
    <%= f.text_area :description %>

      <p>

      <%=f.submit%>

      <%end%>


</div>

<style>
input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}
</style>


</center>
