<%if @recipe.gluten? %>
  <% @recipe.gluten?.each do |food|%>
  <% @gluten_foods << food.name %>
  <%end%>
<%end%>
<div>
<p class="recipe">>Recipe Name</p>
<p><%=@recipe.name %></p>

<p>Recipe Description</p>
<p><%=@recipe.description %></p>

<p>Recipe Category</p>
<%=@recipe.category%>

<p>Recipe Price</p>
<p><%="$#{@recipe.total_price.round(2)}"%></p>

<p>Recipe Protein</p>
<p><%=@recipe.total_protein %> grams</p>

<p>Recipe Calories</p>
<p><%=@recipe.total_calories %></p>

<p>Recipe Ingredients</p>
<p><%=@recipe.foods.map {|food| food.name}.join(", ")%></p>

<% if @gluten_foods.length > 0 %>
<p class="rainbow", size=5> <%= "WARNING I CONTAIN GLUTEN" %></p>
<font color="red", size=10><%= "#{@gluten_foods.join(", ")}" %></font>
  <% end %>

<p>Created by: <%= @recipe.user.username %></p>

<button type="button" class="btn btn-warning"><%= button_to "edit", "/recipes/#{@recipe.id}/edit",  method: :get %></button>

<button type="button" class="btn btn-danger"><%= button_to "delete", recipe_path,  method: :delete %></button>
</div>
