RECIPE NAME
<%=@recipe.name %>
<p>
RECIPE INSTRUCTIONS
<%=@recipe.description %>
<P>
total price
<%="$#{@recipe.total_price.round(2)}"%>
<P>
total protien
<%=@recipe.total_protein %>
<P>
total calories
<%=@recipe.total_calories %>
<P>
<%="Created by TBD"%>


</h2>

<h3><%= link_to "edit", "/recipes/#{@recipe.id}/edit" %></h3>

<%= button_to "delete", "/recipes/#{@recipe.id}/delete",  method: :delete %>
