<div class ="rainbow">
Update Profile
</div>

<h4><%= flash[:notice] %></h4>

<div class="form">
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <p><%= f.text_field :username %></p>
  <%= f.label :password %>
  <p> <%= f.password_field :password %></p>
  <p><%= f.submit "Update Profile"%></p>
<% end %>
<br>
<br>
</div>
