<center>
<div class="rainbow">
Sign-Up
</div>

<h4><%= flash[:notice] %></h4>

<div class="form">
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <p><%= f.text_field :username %></p>
  <%= f.label :password %>
  <p> <%= f.password_field :password %></p>
  <p><%= f.submit "Sign-Up"%></p>
<% end %>
<br>
<br>
</div>

<p class="rainbow">
Already a Member of the K.O.ol CLUB?
</p>
<p><%= button_to "Login", login_path, method: :get %></p>

