<% if flash[:notice] %>
  <h3><%=flash[:notice]%></h3>
<%end%>

<%=form_for @food do |f|%>
<p>Name</p>
<p><%=f.text_field :name%></p>
<p>Price</p>
<p><%=f.number_field :price, class: :text_field, step: :any%></p>
<p>Protein</p>
<p><%=f.number_field :protein%></p>
<p>Calories</p>
<p><%=f.number_field :calories%></p>
<p>Contains Gluten? <%=f.check_box :gluten%></p>
<br>
<p><%=f.submit "Create Ingredient"%></p>
<%end%>

<style>
input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}
input[type='checkbox']{
  outline: 3px solid red;
}
  </style>