<center>
<%=@food.name %>
<p>
price
<%=@food.price %>
<p>
Protien
<%=@food.protein %>

<p>
Calories
<%=@food.calories %>
<p>
Contain Gluten? ->>
<%=@food.gluten %>


<h3><%= link_to "edit", "/recipes/#{@food.id}/edit" %></h3>

<button type="button" class="btn btn-danger"><%= button_to  "delete", food_path,  method: :delete %></button>

</center>
