<h2 ><%=@food.name %></h2>
<br>

<h5 >Price</h5>
<p><%=@food.price %></p>

<h5 >Protein</h5>
<p><%=@food.protein %></p>

<h5 >Calories</h5>
<p><%=@food.calories %></p>
<h5 class="rainbow">Contains Gluten?</h5>
<p><%=@food.gluten %></p>

<div>
<button type="button" class="btn btn-warning"><%= button_to "edit", "/foods/#{@food.id}/edit",  method: :get %></button>

<button type="button" class="btn btn-danger"><%= button_to "delete", food_path,  method: :delete %></button>
</div>
